<form {{action "save" newPet on="submit"}}>
  <div class="form-group">
    <label for="inputPetName">Pet Name:</label>
    {{input value=newPet.name class="form-control"}}
  </div>
  <div class="form-group">
    <label for="inputOwnerName">Owner Name:</label>
    {{input value=newPet.owner class="form-control"}}
  </div>
  <div class="form-group">
    <label for="inputBreed">Breed:</label>
    {{input value=newPet.breed class="form-control"}}
  </div>
  <div class="form-group">
    <label for="inputAge">Age:</label>
    {{input value=newPet.age class="form-control"}}
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-success" value="Save"/>
    <button {{action "cancel"}} class="btn btn-default">Cancel</button>
  </div>
</form>
